.aboutImgRow {
    padding: 25px
}

.aboutImgRow img {
    width: 300px;
    height: 300px;
    border-radius: 50%
}

.aboutImgRow div.p:nth-child(odd), .aboutImgRow div.h3:nth-child(odd) {
text-align: left
}

.aboutImgRow div:nth-child(odd) {
    text-align: right
    }

 .aboutImgRow div.p:nth-child(even), .aboutImgRow div.h3:nth-child(even) {
        text-align: right
 } 
.aboutImgRow div:nth-child(even) {
            text-align: left
            }

