<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=fo, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/info" method="post"><br/>
     <label >name</label><br/>
    <input type="text" name="name"><br/>
    <label >age</label><br/>
    <input type="text" name="age"><br/>
    <label >email</label><br/>
    <input type="text" name="email"><br/>
    <input type="submit" value="send data">
    </form>
</body>
</html>