.contactMe {
    background: #000;
    color: #fff
}

/* form input[placeholder],
form textarea[placeholder] {
  text-transform: lowercase !important;
  color: #bbbbbb;
  font-weight: bold;
  resize: none; }
form .textarea {
  height: 166px !important; }
form button {
  width: 240px;
  height: 65px;
  border-radius: 3px;
  border: 0 !important;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-transform: uppercase; } */